* {
  margin: 0;
  font-family: nunito;
}

body {
  background-color: #0d1117;
}

.form-spacer {
  margin-bottom: 80px;
}

.wrapper {
  margin: auto;
  max-width: 400px;
  display: grid;
}

.title-container {
  margin: auto;
}

.title-container h1 {
  font-weight: 400;
}

.title-container img {
  width: 100px;
  height: 100px;
  padding: 0 0 20px 56px;
}

.input-form {
  border: 1px solid #383838;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #13171f;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-form input {
  padding: 6px;
  margin: 10px 0 20px 0;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  background-color: #0d1117;
  border: 1px solid #383838;
}

.input-form .button {
  background-color: #228736;
  color: #e7e7e7;
  font-size: 18px;
  margin: 0px;
  border: none;
}

.main-header {
  color: #e7e7e7;
  margin-bottom: 16px;
}

.email-input {
  color: #e7e7e7;
}

.password-input {
  color: #e7e7e7;
}

.create-account {
  color: #e7e7e7;
  border: 1px solid #383838;
  padding: 20px;
  border-radius: 8px;
}

.create-account a {
  text-decoration: none;
}

.create-account p {
  margin-left: 50px;
}
